
body{    
    margin: 0;
    
}

div{
    box-sizing: border-box;
    display: block;
    margin: 16px;
    height: min-content;
    width: min-content;
    background: rgb(70, 85, 180);
    font-size: 66px;
    padding: 66px;
    border: 40px solid rgb(11, 13, 52);
}

body > div {
    display: inline-block;
    margin-right: 20px;
}

figure{
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(144, 172, 233);
    border: 10px solid rgb(7, 20, 1);
    border-radius: 6px;
}

figure img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

figcaption{
    margin-top: 10px;
    font-size: 0.85rem;
    color: black;
    text-align: center;
}